<h1>PRODUCTS VIEWS</h1>
 <div style="padding: 15px;" class ="button">
    <a href="/carts/646d62f6c5cc37047aeb9624" class="btn btn-primary" method="get">Ir a carrito</a> 
    <a href="/" class="btn btn-primary" method="get">Perfil</a>            
 </div>

<div>
    <h1>Bienvenido {{user.name}}!</h1>
    <p><b>Edad:</b> {{user.age}}</p>
    <p><b>Email:</b> {{user.email}}</p>
</div>
 
</div>
    {{#each payload}}
    <form action= "/api/carts/646d62f6c5cc37047aeb9624/product/{{this.id}}" method="post">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Title:</b> {{this.title}}</li>
            <li class="list-group-item"><b>Description:</b> {{this.description}}</li>
            <li class="list-group-item"><b>Code:</b> {{this.code}}</li> 
            <li class="list-group-item"><b>Price:</b> ${{this.price}}</li>
            <li class="list-group-item"><b>Stock: </b>{{this.stock}}</li>
            <li class="list-group-item"><b>Category: </b>{{this.category}}</li>
            <li class="list-group-item"><b>Thumbnails: </b> {{this.thumbnails}}</li>
            <li class="list-group-item"><b>Status:</b> {{this.status}}</li>
            <li class="list-group-item"><b>ID:</b> {{this._id}}</li>
        </ul>    
            <div class="form-group">
              <button class="btn btn-primary">Agregar a carrito</button>
            </div>
            
    </form>
                
           
            
        
    </div>     
    {{/each}}
    
   
    {{#if prevLink}}
        <a href="/?page={{prevPage}}&limit={{limit}}"><button>Anterior</button></a>
    {{/if}}

    {{#if nextLink}}
        <a href="/?page={{nextPage}}&limit={{limit}}"><button>Siguiente</button></a>
    {{/if}}
</div>

