<h1>PRODUCTS DETAILS</h1>
</div>
    
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Title:</b> {{this.title}}</li>
            <li class="list-group-item"><b>Description:</b> {{this.description}}</li>
            <li class="list-group-item"><b>Code:</b> {{this.code}}</li> 
            <li class="list-group-item"><b>Price:</b> ${{this.price}}</li>
            <li class="list-group-item"><b>Stock: </b>{{this.stock}}</li>
            <li class="list-group-item"><b>Category: </b>{{this.category}}</li>
            <li class="list-group-item"><b>Thumbnails: </b> {{this.thumbnails}}</li>
            <li class="list-group-item"><b>Status:</b> {{this.status}}</li>
            <li class="list-group-item"><b>ID:</b> {{this._id}}</li>
        </ul>
    </div>     
    
</div>